html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
    color: #4d4d4d;
}

a:hover {
    color: #525252;
    text-decoration: none;
}

p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    color: #535353;
}
strong {
    color: #535353;
}

span {
    color: #535353;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
    color: #383737;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #535353;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn{
    font-family: 'Roboto', sans-serif;
}
